@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.modal-tech {
  display: flex;
  gap: 8px;
}

.modal-tech li {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  list-style: none;
  background: #EBF0EE;
  border-radius: 4px;
  padding: 8px 12px;
}

.modal-text-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal {
  padding: 16px 16px 20px;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-image-box {
  position: relative;
}

.project-image {
  max-width: 100%;
  border-radius: 8px;
}

.cancel-icon {
  position: absolute;
  top: 16px;
  right: 16px;
}

.modal h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.modal p {
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 4px;
}

.btn-group {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn-group a {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 12px 16px;
  background: #36b37f;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}
