@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
  padding: 10px 24px;
  align-items: center;
}

.logo {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.headline {
  height: 648px;
  background-image: url("images/header-illsutration-mobile@2x.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 24px;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.headline > img {
  display: none;
}

.headline h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-top: 64px;
  color: #172b4d;
}

header > nav > ul {
  display: none;
}

.tech > li {
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  list-style: none;
}

.headline h2 > span {
  color: #36b37e;
}

footer p {
  height: 189px;
  color: #42526e;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

.headline p {
  margin: 50px 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

.socials {
  padding: 0;
  display: flex;
  align-items: center;
}

.socials li {
  list-style: none;
}

.social {
  width: auto;
  margin-right: 20px;
  align-self: center;
}

.social:last-child {
  margin-right: 0;
}

.arrow {
  position: absolute;
  bottom: 0;
}

.my-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 22px;
  padding-left: 26px;
  padding-right: 22px;
  text-align: center;
}

.my-works h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 24px;
  color: #172b4d;
}

.my-works > img {
  margin-bottom: 62px;
}

.Works {
  display: grid;
  grid-gap: 24px;
}

.Works > div {
  width: 327px;
  position: relative;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.image-box {
  height: 252px;
}

.text-box {
  height: 222px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
}

.text-box h2 {
  color: #3a4a42;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  height: 57px;
}

.see-project {
  margin-top: 29px;
  margin-bottom: 24px;
}

.see-project a {
  font-weight: 500;
  padding: 12px;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  background-color: #36b37f;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
}

.resume-btn a {
  color: #fff;
  text-decoration: none;
}

.see-project a:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.see-project a:active {
  background: #008552;
}

.tech {
  display: inline-flex;
  margin: auto 11px;
  gap: 8px;
}

.tech > li:last-child {
  margin-right: 0;
}

.about-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 68px;
}

.about-content h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: auto 12px;
}

.about {
  background: url("images/Mask-Group.svg") top right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-background {
  background: url("images/illustration-2-about-me-mobile.svg") bottom left;
  background-repeat: no-repeat;
  margin-bottom: 59px;
}

.about-content > p {
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  text-align: center;
  font-weight: 400;
  margin: 24px 12px;
  padding: 5px;
}

.resume-btn {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  background: #36b37f;
  border-radius: 4px;
  padding: 12px;
}

.resume-btn:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.resume-btn:active {
  background: #008552;
}

.cards {
  display: grid;
  grid-gap: 24px;
}

.about-card {
  height: 352px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
  width: 327px;
  padding: 32px 12px 72px;
}

.about-card > h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.about-card > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 8px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.about-card > ul li {
  list-style: none;
  padding: 12px;
  text-align: center;
  background: #ffffff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
}

.contact {
  background-image: url("./images/illustration-contact-form.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 58px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.contact-intro {
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 0 24px;
}

input {
  padding: 15px 16px;
  margin-bottom: 24px;
  background: #fff;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
  font-weight: 400;
  width: 100%;
}

textarea {
  margin-bottom: 24px;
  background: #fff;
  border: 1px solid #60c095;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px;
  text-align: start;
  width: 100%;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  height: 114px;
  color: #091e42;
}

form {
  width: 100%;
  padding: 0 24px;
}

.contact-form > button {
  padding: 12px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: fit-content;
  background: #36b37f;
  border-radius: 4px;
  border: none;
  color: #fff;
}

.contact-form > button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.contact-form > button:active {
  background: #008552;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 147px;
}

footer > .socials {
  display: none;
}

/* styling for desktop view */
@media screen and (min-width: 992px) {
  .headline {
    background: none;
    position: relative;
    top: -92px;
    min-height: 98vh;
    padding: 0 210px;
    padding-top: 120px;
    width: 100%;
  }

  header > h1,
  nav > a {
    display: none;
  }

  header {
    margin-top: 0;
  }

  header > nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
  }

  nav > .navigation {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
  }

  nav > .navigation li {
    list-style: none;
  }

  .navigation > li a {
    text-decoration: none;
    color: black;
  }

  .headline > img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .headline > h2 {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 700;
    color: #172b4d;
  }
  .headline > p {
    padding: 0 10px;
    margin: 0;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
  }


  .arrow {
    margin-top: 44px;
    position: static;
  }

  .my-works > h2 {
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    margin: 52px auto;
  }

  .my-works > img {
    display: none;
  }

  .Works {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px 24px;
  }

  .Works > div {
    width: 369px;
  }

  .text-box h2 {
    margin-left: 16px;
    margin-right: 16px;
    font-family: "Poppins", sans-serif;
    color: #172b4d;
  }
  .tech {
    margin: auto 32px;
    align-items: center;
  }

  .about {
    margin-top: 89px;
    padding-top: 103px;
    background: url("images/illustration-about\ me-1-desktop.svg") top right
      no-repeat;
  }

  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .about-card {
    width: 369px;
  }

  .about-content {
    margin: 0 260px;
  }
  .about-content > h2 {
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }
  .about-content > p {
    margin: 24px 0;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    padding: 0 50px;
    color: #42526e;
  }

  .about-background {
    background: url("images/illustration-about-me-2-desktop.svg") bottom left;
    background-repeat: no-repeat;
    margin-bottom: 59px;
  }

  .contact {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 24px;
    align-items: flex-start;
    margin-top: 162px;
    background: url("images/illustration-1-contact-form-desktop.svg") no-repeat
        0% 100%,
      url("images/illustration-2-contact-form-desktop.svg") no-repeat 25% 80%,
      url("images/contact\ form-illustratoin-3-desktop.svg") no-repeat bottom
        right;
  }

  .contact-intro {
    width: 463px;
    margin: 0;
    font-size: 30px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
    text-align: start;
    height: 276px;
  }

  form {
    width: 684px;
    padding: 0;
  }

  .contact-form {
    margin: 0;
  }

  .contact-form > button {
    letter-spacing: 0.03em;
    align-self: start;
    margin-bottom: 225px;
  }

  .contact > ul {
    display: none;
  }

  footer {
    margin: 0;
  }

  footer > p {
    display: none;
  }

  footer > .socials {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 26px;
    border-top: 1px solid #dfe1e6;
    width: 100%;
  }
}

@media screen and (min-width: 1100px) {
  .headline {
    padding: 0 250px;
    padding-top: 160px;
    min-height: 120vh;
  }

  .headline h2 {
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.37px;
  }

  .headline p {
    font-size: 22px;
    line-height: 36px;
  }

  .Works {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px 24px;
  }

  .arrow {
    margin-top: 66px;
    position: static;
  }
}

@media screen and (min-width: 1300px) {
  .headline {
    padding: 0 260px;
    padding-top: 230px;
    min-height: 160vh;
  }

  .headline h2 {
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
  }

  .headline p {
    font-size: 23px;
    line-height: 36px;
    font-weight: 500;
    padding: 0 70px;
  }

  .arrow {
    margin-top: 84px;
    position: static;
  }
}
